# System / IDE / venv
.DS_Store
.idea
.venv
__pycache__

# Temporary files
_test
io_files/*
_output

# scripts trash
scripts/*.log
scripts/multmux_logs
scripts/commands.txt

# Data
/_data

# Misc
/nnmav_README.md
